parameters:
    level: 5
    paths:
        - src
        - tests
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - src/Behavior/ConvenienceMethodsTrait.php